body
{
    box-sizing: border-box;
    width: -webkit-fill-available;
}

*
{
    box-sizing: border-box;
}

html
{
    width: -webkit-fill-available;
    font-family: arial;
}

a
{
    text-decoration: none;
}

a:hover
{
    color: teal;
}

a:active
{
    color: black;
    text-decoration: line-through;
}

