@import '_vars';

body
{
    box-sizing: border-box;
    width: -webkit-fill-available;
}

*
{
    box-sizing: border-box;
}

html
{
    width: -webkit-fill-available;
    font-family: arial;
}

a
{
    text-decoration: none;
}

a:hover
{
    color: teal;
}

a:active
{
    color: black;
    text-decoration: line-through;
}



.caption
{
    @include fullWidth;
    padding: 0 5%;
    margin-top: 2%;
    text-align: center;

    >span
    {
        color: #a59d9d;

        >a
        {
            text-decoration: none;
            color: #a59d9d;
        }
    }
}

.tags
{
    background-color:#d0d0d0;
    color: black;
    font-family: monospace;
    font-size: 15px;
    padding: 0.3% 5%;
}

.error
{
    color: #F63B3B;
    font-family: monospace;
    font-size: 15px;
}

.quote
{
    background-color: #DDEAF0;
    padding: 5%;
    font-family: monospace;
    font-size: 20px;
    color: $textColor;
}

.header,
.footer
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    >span
    {
        margin: 15% 20%;
        color: #c3bfba;
        text-align: center;
    }
}

.header
{
    max-height: 75px;
    background-color: #80adad;
    margin-bottom: 10%;
}

.footer
{
    background-color: #405656;
    margin-top: 15%;
}
