$titleColor: #5a6461;
$textColor: #737e7a;

@mixin fullWidth
{
    width: -webkit-fill-available;
    width: -moz-available;
}

@mixin borderedSection
{
    margin: 0 5%;
    padding: 5%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

@mixin textSize
{
    font-size: 18px;
}

@mixin testBorder
{
    border: 3px solid gold;
}
