$titleColor: #5a6461;
$textColor: #737e7a;

@mixin fullWidth
{
    width: -webkit-fill-available;
    width: -moz-available;
}

@mixin borderedSection
{
    margin: 0 10%;
    padding: 1% 5%;
    border-bottom: 1px solid lightgrey;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

@mixin textSize
{
    font-size: 18px;
}

@mixin flexWrap
{
    display: flex;
    flex-wrap: wrap;
}


