@import '_general';

.pageTitle
{
    @include fullWidth;
    margin: 5% 0;

    >h1
    {
        @include fullWidth;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        color: $titleColor;
    }
}

.mainImgDiv
{
    margin: 0;
}

.imgDiv
{
    @include fullWidth;
    margin: 0;
    padding: 5%;

    >amp-img
    {
        margin: 0 10%;
        border-radius: 3%;
    }
}

.info
{
    @include fullWidth;
    @include borderedSection;
    padding: 5%;

    >span
    {
        &:nth-child(1)
        {
            color: grey;
        }

        &:nth-child(2)
        {
            color: grey;
            font-size: small;
        }
    }
}

.social
{
    @include fullWidth;
    @include borderedSection;

    >a
    {
        >svg
        {
            width: 40px;
            height: 40px;
        }
    }
}

.txtDiv
{
    @include fullWidth;
    margin: 0;
    padding: 0 5%;
    text-align: justify;

    >p
    {
        margin: 5% 10%;
        color: $textColor;
        @include textSize;
    }
}

.flexDiv
{
    margin: 0;
    display: flex;

    >a
    {
        @include fullWidth;

        >amp-img
        {
            margin: 5% 10%;
        }
    }
}

.textFlex
{
    @include fullWidth;
    margin: 0;
    padding: 0 5%;
    text-align: justify;

    >p
    {
        margin: 5% 10%;
        color: $textColor;
        @include textSize;
    }
}

.vidDiv
{
    @include fullWidth;

    >amp-youtube,
    >amp-video
    {
        @include fullWidth;
        margin: 5% 10%;
    }
}

.subTitle
{
    @include fullWidth;
    padding: 0 5%;
    text-align: center;

    >h2
    {
        margin: 5% 10%;
        color: $titleColor;
    }
}

.carDiv
{
    @include fullWidth;
}

.amp-carousel-button-next,
.amp-carousel-button-prev
{
    background-size: 10px 10px;
}

.panel
{
    @include fullWidth;
    display: flex;
    flex-wrap: wrap;
    margin: 0 5%;

    &__head
    {
        width: inherit;
        background-color: #d0d4d2;
        padding: 3%;

        >span
        {
            text-transform: uppercase;
            margin: 5% 10%;
            color: grey;
        }
    }

    &__body
    {
        margin: 2%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

.board
{
    max-width: 85%;
    margin: 3%;
    border: 1px solid #cbd5da;
    display: inline-flex;
    flex-wrap: wrap;

    &__head
    {
        @include fullWidth;
        display: inline-table;

        >a
        {
            >amp-img
            {

            }
        }
    }

    &__body
    {
        @include fullWidth;
        margin: 3%;
        padding: 5%;
        border-top: 1px solid lightgrey;
        border-bottom: 1px solid lightgrey;
        text-align: center;

        >span
        {
            @include fullWidth;
            font-size: 15px;
            color: grey;
            text-transform: capitalize;
        }
    }

    &__foot
    {
        @include fullWidth;
        display: flex;
        flex-wrap: wrap;
        padding: 5%;

        >a
        {
            @include fullWidth;
            text-decoration: none;
            color: grey;
            font-size: 10px;
            padding: 3%;
            text-align: center;
            text-transform: capitalize;
        }
    }
}
