@import '_general';

.pageTitle,
.imgDiv,
.info,
.social,
.flexDiv>a,
.txtDiv,
.textFlex,
.vidDiv,
.subTitle,
.carDiv,
.panel,
.board__head,
.board__body,
.board__body>span,
.board__foot,
.board__foot>a
{
    @include fullWidth;
}

span,
small
{
    color: grey;
}

.imgDiv>amp-img,
.flexDiv>a>amp-img,
.vidDiv>amp-youtube,
.vidiv>amp-video,
.panel__head>span
{
    margin: 5% 10%;
}

.pageTitle
{
    margin: 5% 0;
}

.info,
.social
{
    @include borderedSection;
}

.flexDiv,
.panel,
.panel__body,
.board,
.board__foot
{
    @include flexWrap;
}

.social>a>svg
{
    width: 40px;
    height: 40px;
}

.txtDiv,
.textFlex
{
    padding: 0 5%;
    text-align: justify;

    >p
    {
        margin: 2% 10%;
        color: $textColor;
        @include textSize;
    }
}

.subTitle
{
    padding: 0 5%;
    text-align: center;
}

.amp-carousel-button-next,
.amp-carousel-button-prev
{
    background-size: 10px 10px;
}

.panel__head,
.board__body
{
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}

.panel
{
    &__head
    {
        padding: 1.5%;

        >span
        {
            text-transform: uppercase;
        }
    }

    &__body
    {
        justify-content: space-around;
    }
}

.panel,
.board,
.board__body
{
    margin: 3%;
}

.board__body,
.board__foot
{
    padding: 5%;
}

.board
{
    max-width: 85%;
    border: 1px solid #a2aaae;

    &__body
    {
        text-align: center;

        >span
        {
            text-transform: capitalize;
        }
    }

    &__foot>a
    {
        font-size: 12px;
        padding: 3%;
        text-align: center;
        text-transform: capitalize;
    }
}
